<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{ user.first_name }} {{ user.last_name }}</title>

    <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

    <link href="/css/profile.css" rel="stylesheet">

    <!--Красивые значки-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Большая не нужная библиотека -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Автоматическая высота для textarea -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

</head>
<body>

{% include 'helpers/menu.html' %}

<div id="profile_container">
    <i id="save_ico" onclick="save()" class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>

    <div class="whitespace"></div>
    <div class="header">

        <input type="text" {{ "readonly='readonly'" if request.path != '/profile' }} id="name"
               value="{{ user.first_name }} {{ user.last_name }}">

        <textarea {{ "readonly='readonly'" if request.path != '/profile' }} id="about-me">{{ user.about }}</textarea>

    </div>
    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Skills</h2>
        </div>

        <div class="col-md-9">
            <div class="skills-wrapper">
                <div class="col-3">
                    <h4>Languages</h4>
                    <p>Python</p>
                    <p>JavaScript</p>
                    <p>C++</p>
                </div>
                <div class="col-3">
                    <h4>Webstack</h4>
                    <p>HTML5</p>
                    <p>CSS</p>
                    <p>JQuery</p>
                </div>

                <div class="col-3">
                    <h4></h4>
                    <p>Bootstrap</p>
                    <p>GSAP</p>
                    <p>Snap.SVG</p>
                </div>
            </div>
            <div class="skills-wrapper not-first">
                <div class="col-3">
                    <h4>Common</h4>
                    <p>GNU/Linux</p>
                    <p>Bash</p>
                    <p>Git</p>
                </div>
                <div class="col-3">
                    <h4>PM</h4>
                    <p>Slack</p>
                    <p>Jira</p>
                    <p>Jenkins</p>
                </div>

                <div class="col-3">
                    <h4>Database</h4>
                    <p>PostgreSQL</p>
                    <p>MongoDB</p>
                    <p>SQLAlchemy</p>
                </div>
            </div>
        </div>
    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Employment</h2>
        </div>

        <div class="col-md-9">
            <h3><a href="http://goto.msk.ru/">GoTo</a></h3>
            <p class="date">2015 - present</p>
            <p class="description">IT educational project promoting industry connectedness. Creating interactive landing
                pages.</p>
        </div>

        <div class="col-md-9 not-first">
            <h3><a href="https://profilum.ru/">Profilum</a></h3>
            <p class="date">2016 - present</p>
            <p class="description">Technology for identifying and developing talents.</p>
        </div>

        <div class="col-md-9 not-first">
            <h3><a href="https://e-contenta.com/en/">E-contenta</a></h3>
            <p class="date">2016</p>
            <p class="description">Personalized online marketing service. Developing recommendation systems for big
                companies.</p>
        </div>

    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Projects</h2>
        </div>

        {% for project in projects %}
            <div class="col-md-9">
                <form id="project_{{ project.id }}" method="post" action="/project/update">

                    <a onclick="del_project({{ project.id }})" class="field close">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    </a>


                    <h3 class="value"><a href="{{ project.url }}">{{ project.name }}</a></h3>


                    <p class="date value">{{ project.date_started.year }}</p>


                    <br><br>
                    <p class="team">
                        Команда:

                        {% for user in project.team %}
                            <a href="/profile/{{ user.id }}">{{ user.first_name }}
                                {{ user.last_name }}{{ "," if not loop.last }}</a>
                        {% endfor %}
                    </p>


                    <div>
                        <input name="id" type="hidden" value="{{ project.id }}">
                        <input name="delete" type="hidden">
                        <input placeholder="Название" class="project_name field" name="title" type="text"
                               value="{{ project.name }}">
                        <input placeholder="Ссылка" class="project_url field" name="title" type="text"
                               value="{{ project.url }}">

                    </div>


                    <textarea {{ "readonly='readonly'" if request.path != '/profile' }} placeholder="Описание"
                                                                                        name="description"
                                                                                        onclick="edit_project({{ project.id }})"
                                                                                        class="description">{{ project.description }}</textarea>
                </form>
            </div>
        {% endfor %}

    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Recogition</h2>
        </div>

        <div class="col-md-9">
            <h3><a href="http://goto.msk.ru/hackathon">1st place, GoToHack2 BigData</a></h3>
            <p class="date">2016</p>
            <p class="description">Our team created the Telegram bot which could predict the courses you need to study
                for
                getting a job on Facebook.
                Based on skills you possess.</p>
        </div>

        <div class="col-md-9">
            <h3><a href="http://tceh.com/medhack/">1st place, MedHack</a></h3>
            <p class="date">2016</p>
            <p class="description">Our team created the DiaFriend project. DiaFriend helps patients with diabetes.</p>
        </div>

        <div class="col-md-9 not-first">
            <h3><a href="https://inclass.kaggle.com/c/taxi-hack-test-drive">8th place, HSE Data Night</a></h3>
            <p class="date">2015</p>
            <p class="description">Our team created the model which could predict the customer churn on Yandex.Taxi
                data.</p>
        </div>
    </div>

    <div class="whitespace"></div>

    <div class="footer">
        <p><a href="mailto:tovorog@tvorog.me">tvorog@tvorog.me</a></p>
        <p class="keybase"><a href="https://keybase.io/xenx">keybase.io/xenx</a></p>
    </div>

    <div class="whitespace"></div>
</div>

{%- if request.path == '/profile' %}
    <!-- Работа с формами -->
    <script src="/js/profile/forms.js"></script>
{% endif %}


</body>
</html>