<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{ user.first_name }} {{ user.last_name }}</title>

    <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

    <link href="/css/profile.css" rel="stylesheet">

    <!--Красивые значки-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Большая не нужная библиотека -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- UI for autocomplite -->
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- Стиль UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!-- Автоматическая высота для textarea -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

</head>
<body>

{% include 'helpers/menu.html' %}

<div id="profile_container">
    <i id="save_ico" onclick="save()" class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>

    <div class="whitespace"></div>
    <div class="header">
        <div class="col-md-3"><img class="profile-img"
                                   src="https://goto.msk.ru/media/k2/items/cache/274936c4b649c88ffad7944bfc7a744a_L.jpg">
        </div>
        <div class="col-md-9"><input placeholder="Фамилия Имя Отчество"
                                     type="text" {{ "readonly='readonly'" if request.path != '/profile' }} id="name"
                                     value="{{ user.last_name if user.last_name != None }} {{ user.first_name if user.last_name != None }} {{ user.surname if user.surname != None }}">


            <p class="label"><input placeholder="E-mail" class="after_name"
                                    type="text" {{ "readonly='readonly'" if request.path != '/profile' }}
                                    id="email"
                                    value="{{ user.email }}">
            </p>




            {% if request.path != '/profile' and user.phone_number != None or request.path == '/profile' %}
                <p class="label"><input placeholder="Телефон" class="after_name"
                                        type="text" {{ "readonly='readonly'" if request.path != '/profile' }}
                                        id="phone"
                                        value="{{ user.phone_number if user.phone_number != None }}">
                </p>
            {% endif %}




            {% if request.path != '/profile' and user.city != None or request.path == '/profile' %}

                <p class="label"><input placeholder="Место проживания" class="after_name"
                                        type="text" {{ "readonly='readonly'" if request.path != '/profile' }}
                                        id="city"
                                        value="{{ user.city if user.city != None }}"></p>

            {% endif %}




            {% if request.path != '/profile' and user.birthday != None or request.path == '/profile' %}

                <p class="label"><input placeholder="День рождения" class="after_name"
                                        type="date" {{ "readonly='readonly'" if request.path != '/profile' }}
                                        id="birthday"
                                        value="{{ user.birthday if user.birthday != None }}"></p>
            {% endif %}


            {#        #FIXME: Displaing correctly only when editing profile#}

            <br>
            <div class="col-md-2">
                <i class="fa fa-vk fa-lg" aria-hidden="true"></i>
            </div>

            <div class="col-md-2">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
            </div>

            <div class="col-md-2">
                <i class="fa fa-gitlab fa-lg" aria-hidden="true"></i>
            </div>
        </div>


    </div>
    <div class="whitespace"></div>
    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Навыки</h2>
        </div>

        <div class="col-md-9">
            <div class="skills-wrapper">

                {% for skill in user.skills %}
                    <div class="col-3">
                        <input skill_id="{{ skill.id }}" placeholder="Навыки" id="skill_{{ skill.id }}"
                               class="after_name skill"
                               value="{{ skill.skill_name }}" type="text">
                    </div>
                {% endfor %}



                {% if request.path == '/profile' %}
                    <div id="add_wrapper" class="col-3">
                        <p onclick="add_input_field()" id="add">Добавить</p>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Опыт</h2>
        </div>

        <div class="col-md-9">
            <h3><a href="http://goto.msk.ru/">GoTo</a></h3>
            <p class="date">2015 - present</p>
            <p class="description">IT educational project promoting industry connectedness. Creating interactive landing
                pages.</p>
        </div>

    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Проекты</h2>
        </div>

        {% for project in projects %}
            <div class="col-md-9">
                <form id="project_{{ project.id }}" method="post" action="/project/update">

                    <a onclick="del_project({{ project.id }})" class="field close">
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                    </a>


                    <h3 class="value"><a href="{{ project.url }}">{{ project.name }}</a></h3>


                    <p class="date value">{{ project.date_started.year }}</p>


                    <br><br>
                    <p class="team">
                        Команда:

                        {% for user in project.team %}
                            <a href="/profile/{{ user.id }}">{{ user.first_name }}
                                {{ user.last_name }}{{ "," if not loop.last }}</a>
                        {% endfor %}
                    </p>


                    <div>
                        <input name="id" type="hidden" value="{{ project.id }}">
                        <input name="delete" type="hidden">
                        <input placeholder="Название" class="project_name field" name="title" type="text"
                               value="{{ project.name }}">
                        <input placeholder="Ссылка" class="project_url field" name="title" type="text"
                               value="{{ project.url }}">

                    </div>


                    <textarea {{ "readonly='readonly'" if request.path != '/profile' }} placeholder="Описание"
                                                                                        name="description"
                                                                                        onclick="edit_project({{ project.id }})"
                                                                                        class="description">{{ project.description }}</textarea>
                </form>
            </div>
        {% endfor %}

    </div>
</div>

{%- if request.path == '/profile' %}
    <!-- Работа с формами -->
    <script src="/js/profile/forms.js"></script>

    <!-- Автодополнение скиллов, препов и кураторов -->
    <script src="/js/profile/autocomplite.js"></script>
{% endif %}


</body>
</html>