<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>

    <!-- Большая не нужная библиотека -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--Reset all browsers-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">


    <!--Бутстрап-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <script src="/js/about/pixi.dev.js"></script>

    <script src="/js/about/physicsjs-full.js"></script>
    <script src="/js/about/pixi-renderer.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PhysicsJS/0.7.0/bodies/rectangle.js"></script>
</head>
<body>
<!--<div class="container">-->
<!--<div class="row preps">-->
<!--<div class="col-md-12">-->
<!--<div id="alena" class="col-md-4">-->
<!--<img src="preps/alena/001.jpg">-->
<!--</div>-->
<!--<div class="col-md-4"></div>-->

<!--<div id="vanya" class="col-md-4">-->
<!--<img src="preps/vanya_bib/001.jpg">-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-12">-->
<!--<div class="col-md-4"></div>-->
<!--<div id="sasha" class="col-md-4">-->
<!--<img src="preps/Eg-Sasha/001.jpg">-->
<!--</div>-->
<!--<div class="col-md-4"></div>-->
<!--</div>-->

<!--<div class="col-md-12">-->
<!--<div id="kolya" class="col-md-4">-->
<!--<img src="preps/kolya/001.jpg">-->
<!--</div>-->

<!--<div class="col-md-4"></div>-->

<!--<div id="pasha" class="col-md-4">-->
<!--<img src="preps/Pasha_Kulikov/001.jpg">-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-12">-->
<!--<div class="col-md-4"></div>-->
<!--<div id="roct" class="col-md-4">-->
<!--<img src="preps/Roct1/001.jpg">-->
<!--</div>-->
<!--<div class="col-md-4"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div id="myworld"></div>

<link rel="stylesheet" type="text/css" href="/css/about/index.css">


<!--<script src="/js/about/index.js"></script>-->
<script src="/js/about/box.js"></script>

</body>
</html>