#login_placeholder {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

#close_login_placeholder {
    position: absolute;
    top: 20px;
    right: 20px;
}

#login_placeholder_table {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1001;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}

#login_placeholder_socials {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#login_placeholder_socials i:hover,
#login_placeholder_email,
#login_placeholder_email_login,
#login_placeholder_already_register {
    cursor: pointer;
}

#login_placeholder_second_page,
#login_placeholder_third_page {
    display: none;
}

#login_placeholder_register input,
#login_placeholder_register_register_button {
    width: 300px;
    margin-bottom: 20px;
    font-size: 20px;
}

#login_placeholder_register input[type="password"] {
    margin-bottom: 40px;
}

#login_placeholder_register input[type="text"],
#login_placeholder_register input[type="email"],
#login_placeholder_register input[type="submit"],
#login_placeholder_register input[type="password"] {
    border: none;
    background: none;
    color: white;
}

#login_placeholder_register_register_button {
    font-size: 30px;
    background: none;
    border: none;
}

#login_placeholder h2 {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 50px;
}

#login_placeholder p {
    text-align: center;
}

/*#login_placeholder svg {*/
/*fill: white;*/
/*position: absolute;*/
/*top: -4px;*/
/*}*/

#login_placeholder_forgot_back a {
    color: white;
}

#login_placeholder_forgot_back a:hover {
    text-decoration: none;
    color: #4bb199;
    cursor: pointer;
}

#login_placeholder_forgot_back {
    color: white;
}

#login_placeholder_register_register_button {
    cursor: pointer;
}

#login_placeholder_socials a {
    color: white;
}

#login_placeholder_socials a:hover {
    color: #4bb199;
}

#tick_submit_wrapper {
    height: 70px;
}

#login_tick:hover {
    cursor: pointer;
}

#login_tick:hover .cls-1 {
    stroke: rgb(67, 180, 152) !important;
}


::placeholder {
    color: white !important;
}

::-webkit-input-placeholder {
    color: white !important;
}

::-moz-placeholder {
    color: white !important;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: white !important;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: white !important;
}