#login_placeholder {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

#close_login_placeholder {
    position: absolute;
    top: 20px;
    right: 20px;
}

#login_placeholder_table {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1001;
}

#login_placeholder_socials {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#login_placeholder_socials i:hover,
#login_placeholder_email,
#login_placeholder_email_login,
#login_placeholder_already_register{
    cursor: pointer;
}

#login_placeholder_second_page,
#login_placeholder_third_page{
    display: none;
}

#login_placeholder_register input{
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    font-size: 20px;
}

#login_placeholder_register input[type="password"]{
    margin-bottom: 40px;
}

#login_placeholder_register input[type="text"],
#login_placeholder_register input[type="email"],
#login_placeholder_register input[type="password"]{
    border: none;
    background: none;
}

#login_placeholder_register input[type="submit"]{
    font-size: 30px;
    background: none;
    border: none;
}

#login_placeholder h2 {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 50px;
}

#login_placeholder p {
    text-align: center;
}

#login_placeholder svg{
    fill: white;
    position: absolute;
    top: -4px;
}

#login_placeholder_forgot_back a{
    color: white;
}

#login_placeholder_forgot_back a:hover{
    text-decoration: none;
}