<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi!</title>
</head>
<body onresize="location.reload();">
<!-- Большая не нужная библиотека -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!--Шрифты-->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

<!--Основные стили -->
<link rel="stylesheet" href="/css/index_new.css">

<!--Reset all browsers-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

<!--Красивые значки-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!--UI for navigation-->
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<!--Библиотеки-->
<script src="/js/menu/modernizr.custom.js"></script>
<script src="/js/mo.min.js"></script>

<!--Бутстрап-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!--Навигация-->
<div class="dotstyle dotstyle-hop">
    <ul>
        <li class="current"><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
</div>

{% include 'helpers/menu.html' %}


<!-- социальная штука -->
<div id='ss_menu' style="transform: rotate(90deg)">
    <div class="hor-fix"><a href="{{ socials['facebook'] }}"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div class="hor-fix"><a href="{{ socials['telegram'] }}"><i class="fa fa-telegram" aria-hidden="true"></i></a></div>
    <div class="hor-fix"><a href="{{ socials['vk'] }}"><i class="fa fa-vk"></i></a></div>
    <div class="hor-fix"><a href="{{ socials['instagram'] }}"><i class="fa fa-instagram"></i></a></div>
    <div class='menu hor-fix'>
        <div class='share' id='ss_toggle' data-rot='90'>
            <div class='circle'></div>
            <div class='bar'></div>
        </div>
    </div>
</div>

<!-- LoGo and MORE! -->
<div class="first-slide">
    <canvas id="demo-canvas"></canvas>
    <table id='large-header' class="header">
        <tbody>
        <tr>
            <td valign="middle">
                {% include 'helpers/logo.html' %}
            </td>
        <tr>
        </tbody>
    </table>

    <div class="text">
        Образовательный проект в сфере высоких технологий
    </div>

    <img onclick="get_slide(slide + 1);next_down();" id="in_helper" src="static/img/down_arrow.png"
         style="display: none;">
</div>

<!--Тетрис-->
<div class="tetris">

    <table>
        <tbody>
        <tr>
            <td valign="middle">
                <canvas id="tetris"></canvas>
                <div onclick="start_tetris()" id="we-teach">
                    <table>
                        <tbody>
                        <tr>
                            <td valign="middle">
                                <p id="what_we_do">Чему мы <br> учим?</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Весёлые покрутяшки -->
<div class="krutyashki">
    <table id="krutyashki-wrapper">
        <tbody>
        <tr>
            <td valign="middle">
                <div class="container">
                    <div class="row crugleski">
                        <div class="opisanie">
                            <a onclick="awesome()">
                                <svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64"
                                     viewBox="0 0 64 64"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
                                    <g>
                                        <path
                                                d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
                                    </g>
                                </svg>
                            </a>
                            <table>
                                <td valign="middle">
                                    <p class="programm-text">В начинающей группе запланирован базовый курс из лекций и
                                        воркшопов,
                                        сопровождающихся заданиями из различных областей, в рамках которых ребята
                                        сделают 5-6
                                        мини-проектов.<br>
                                        Участники, попавшие в старшую группу по результатам тестирования, все время
                                        посвятят
                                        реализации основного проекта в командах. Их ждут как технологические
                                        мастер-классы, так и
                                        семинары по организации работы в проекте, формированию тз и исследованию
                                        требований от
                                        пользователей, тестированию, а также ежедневная работа под руководством куратора
                                        и общение с
                                        опытными разработчиками.
                                    </p>

                                    <p class="robot-text">
                                        Участники направления будут разделены на 2 группы: Опытные ребята возьмутся
                                        сразу за проекты
                                        – пройдут все стадии от идеи до реализации. Второй поток специально предназначен
                                        для
                                        новичков, которые получат базовые навыки и инструментарий: познакомятся с
                                        платформой Arduino
                                        и средой разработки; научатся работать с различными датчиками, микросхемами,
                                        сервомоторами и
                                        объединять это все, чтобы получить умные устройства.
                                        <br>
                                        Каждый участник направления получит к концу школы результат в виде прототипа или
                                        законченного устройства, а также пройдет серию мастер-классов по проектной
                                        работе,
                                        промдизайну и 3д-печати, интернету вещей.
                                    </p>

                                    <p class="ad-text">
                                        Небольшая группа участников с опытом в прикладном программировании займется
                                        изучением одной
                                        из самых актуальных тем – анализ данных и машинное обучение. Ребята реализуют
                                        исследовательские проекты и познакомятся с Big Data, Machine Learning и SNA,
                                        освоят основные
                                        инструментарии и разберутся с математикой и статистикой, которые стоят за
                                        основными методами
                                        в этих областях.<br>
                                        В рамках направления для всех желающих будет проведена подготовка к нашим
                                        хакатонам и
                                        Олимпиаде НТИ по большим данным и машинному обучению.

                                    </p>

                                    <p class="bio-text">
                                        Биоинформатика - это стремительно развивающаяся область, точка смешения
                                        биологии, медицины,
                                        информатики и математики, целью которой является выявление новых биологических
                                        закономерностей алгоритмическими и статистическими методами. С развитием
                                        технологий
                                        появилась возможность исследовать весь геном организма в целом, определять
                                        уровни активности
                                        генов, исследовать их более сложные взаимодействия.
                                        <br>
                                        Участники узнают об основных задачах биоинформатики, получат опыт работы с
                                        реальными
                                        данными, рассмотрят примеры современных исследований. К участию приглашаются
                                        все, кто хочет
                                        познакомиться с новой областью и попробовать силы в решении нестандартных
                                        междисциплинарных
                                        задач. Знание биологии не является обязательным в отличие от базового знания
                                        Python/R.
                                    </p>
                                </td>
                            </table>
                        </div>
                        <div onclick="cool(0)" class="up flip-container col-md-4">
                            <div class="flipper">
                                <div class="front robot">
                                    <table>
                                        <td valign="middle"><h3>Выездные школы</h3></td>
                                    </table>
                                </div>
                                <div class="back robot-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div onclick="cool(1)" class="up flip-container vertical col-md-4">
                            <div class="flipper">
                                <div class="front programm">
                                    <table>
                                        <td valign="middle"><h3>Курсы</h3></td>
                                    </table>
                                </div>
                                <div class="back programm-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div onclick="cool(2)" class="up flip-container col-md-4">
                            <div class="flipper">
                                <div class="front ad">
                                    <table>
                                        <td valign="middle"><h3>Хакатоны</h3></td>
                                    </table>
                                </div>
                                <div class="back ad-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div onclick="ntcool(3)" class="down flip-container vertical col-md-4">
                            <div class="flipper">
                                <div class="front bio">
                                    <table>
                                        <td valign="middle"><h3>Городские школы</h3></td>
                                    </table>
                                </div>
                                <div class="back bio-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div onclick="ntcool(0)" class="down flip-container col-md-4">
                            <div class="flipper">
                                <div class="front robot">
                                    <table>
                                        <td valign="middle"><h3>Митапы</h3></td>
                                    </table>
                                </div>
                                <div class="back robot-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div onclick="ntcool(1)" class="down flip-container vertical col-md-4">
                            <div class="flipper">
                                <div class="front programm">
                                    <table>
                                        <td valign="middle"><h3>Коворкинг</h3></td>
                                    </table>
                                </div>
                                <div class="back programm-back">
                                    <table>
                                        <p>подробнее</p>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- ХОЧУ -->
<div class="button-big-picture">
    <a class="back-hochu"><img src="static/img/arrow_black.png"></a>
    <canvas id="shariki" class="shariki"></canvas>
    <table class="table-shar">
        <tr>
            <td valign="middle">
                <button id="component-2" class="button button--2">
                    <p id="want">Хочу</p>
                    <p class="subscription_alert">Вы <br> успешно <br> подписались</p>
                </button>
                <div id="come_to_us_brother">
                        <span class="input input--akira">
                            <input class="input__field input__field--akira" type="text" id="input-22"/>
                            <label class="input__label input__label--akira" for="input-22">
                                <span class="input__label-content input__label-content--akira">Email</span>
                            </label>
                        </span>
                </div>


            </td>
        </tr>
    </table>


    <div id="take-part">
        <table>
            <tr>
                <td valign="middle">
                    <div class="take_part_in programm">
                        Хакатон
                    </div>

                    <div id="middle_shar" class="take_part_in robot">
                        Школа
                    </div>

                    <div style="margin-bottom: 0;" class="take_part_in ad">
                        Курсы
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="partners_grid">


        <!-- Партнёры -->
        <div class="partners normal-otstup">
            <table class="cool_table">
                <tr>
                    <td valign="middle">
                        <div class="container">
                            <div class="row">
                                <div class="partners-header col-md-12"><h1>Партнёры</h1></div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/abitur.jpg"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/amperka.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/blastim.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/cat.jpg"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/codeforces.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/cossa.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/golograph.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/hse.jpg"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/innopols.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/intel.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/krok.gif"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/mfti.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/newtonew.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/nts.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/popmech.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/rambler.png"></a>
                                        </td>
                                    </table>
                                </div>
                                <div class="partner col-md-2 little-partner">
                                    <table>
                                        <td valign="middle"><a href="https://mipt.ru/"><img
                                                src="static/img/partners/rvk.png"></a>
                                        </td>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <a onclick="come_to_us_brother()" id="but1">Подписаться</a>
    <a onclick="partners_grid()" id="but2">Партнёры</a>
    <a onclick="take_part()" id="but3">Принять <br> участие</a>
    <a id="but4">Преподавать</a>
    <a id="but5">О проекте</a>
    <a id="but6">Новости</a>
</div>

<!-- Партнёры -->
<div id="partners" class="partners normal-otstup">
    <table class="cool_table">
        <tr>
            <td valign="middle">
                <div class="goho">
                    <div class="row">
                        <!-- Если вы -->
                        <div id="if_you">
                            <canvas id="wave_canvas">

                            </canvas>
                            <div class="left">
                                <div id="cool-left">
                                    <h2>Ваш вопрос</h2>
                                    <form id="question-footer">
                                        <input id="question-footer-email" placeholder="Email" type="text"><br>


                                        <textarea rows="1" id="question-footer-question"
                                                  placeholder="Задавайте любой"></textarea><br>

                                        <input value="Отправить" type="submit">
                                        <div id="pseudo-helper-kostil"></div>
                                    </form>
                                </div>
                            </div>

                            <div class="right">
                                <div id="cool-right">
                                    <h2>Контакты</h2><br>
                                    <p id="phone-email"><a href="tel:89852443226">+7 (985) 244-32-26</a><br> <a
                                            href="mailto:school@goto.msk.ru">school@goto.msk.ru</a></p><br>
                                    <p>Образовательный проект, посвященный проектной деятельности в различных
                                        высокотехнологических областях. Использование визуальных материалов только с
                                        согласия
                                        создателей проекта. Все права защищены.</p><br>
                                    <p class="soc-footer">
                                        <a href="https://www.facebook.com/GoToCampPage/"><i
                                                class="fa fa-facebook-official"></i></a>
                                        <a href="https://t.me/goto_channel"><i class="fa fa-telegram"
                                                                               aria-hidden="true"></i></a>
                                        <a href="https://vk.com/goto_msk"><i class="fa fa-vk"></i></a>
                                        <a href="https://www.instagram.com/goto_goto_goto/"><i
                                                class="fa fa-instagram"></i></a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Скриптики -->

<!--Для красивой динамики-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>

<!--Переключение слайдов-->
<script src="/js/index_new.js"></script>

<!--Кнопка хочу-->
<script src="/js/hochu/hochu.js"></script>

<!--Тетрис-->
<script src="/js/tetris/tetris.js"></script>

<!--Библиотеки-->
<script src="/js/animated/EasePack.min.js"></script>
<script src="/js/animated/rAF.js"></script>

<!--Задний фон первого слайда-->
<script src="/js/animated/beatuful-header.js"></script>

<!--Анимация логотипа-->
<script src="/js/logo/logo_animation.js"></script>

<!--Волна футера-->
<script src="/js/wave.js"></script>

<!--Слайдер-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">


<!--Навигация-->
<script src="/js/navigation/modernizr.min.js"></script>
<script src="/js/navigation/dots.js"></script>

<script>
    $('.slick').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000
    });

    [].slice.call(document.querySelectorAll('.dotstyle > ul')).forEach(function (nav) {
        new DotNav(nav, {
            callback: function (idx) {
                //console.log( idx )
            }
        });
    });
</script>
</body>
</html>
