{% load account %}
{% load socialaccount %}
{% load profile_extras %}
{% get_social_accounts user as socials %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Favicon -->
    <link href={% static "/img/favicon.ico" %} rel="shortcut icon
    "
    type="image/vnd.microsoft.icon"/>

    <title>{{ user.first_name }} {{ user.last_name }} GoTo Profile</title>

    <!--Шрифты-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

    <link href="{% static "css/profile/profile.css" %}" rel="stylesheet">

    <!--Красивые значки-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Большая не нужная библиотека -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- UI for autocomplite -->
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- Стиль UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!-- Автоматическая высота для textarea -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropit/0.5.1/jquery.cropit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pica/3.0.6/pica.min.js"></script>
</head>
<body>
<input id="profile_page_csrf_token" name="csrfmiddlewaretoken" type="hidden"
       value="{{ csrf_token }}">

{% include 'helpers/menu.html' %}

<div class="image-editor">
    <table>
        <tr>
            <td>
                <div class="cropit_wrapper">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <br>
                    <input type="range" class="cropit-image-zoom-input">
                    <br>
                    <button class="export">Сохранить</button>
                </div>
            </td>
        </tr>
    </table>
</div>


<div id="profile_container">
    <i id="save_ico" onclick="save()" class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>

    <div class="whitespace"></div>
    <div class="header">
        <div class="profile-img-wraper"><img onclick="change_avatar()" class="profile-img"
                                             src="{% if user.image %}
                                            {{ user.image.url }}
                                        {% else %}
                                            https://www.forextester.ru/templates/pic/Testimonials/noavatar-m.jpg
                                        {% endif %}
                                       ">
        </div>
        <div class="col-md-9"><input placeholder="Фамилия Имя Отчество"
                                     type="text" {{ is_profile|yesno:",readonly" }} id="name"
                {% if user.first_name != None or user.last_name != None or user.middle_name != None %}
                                     value="{% if  user.last_name != None %}{{ user.last_name }}{% endif %}{% if  user.first_name != None %} {{ user.first_name }}{% endif %}{% if  user.middle_name != None %} {{ user.middle_name }}{% endif %}"
                {% endif %}
        >

            <p class="label"><input placeholder="E-mail" class="after_name"
                                    type="text" {{ is_profile|yesno:",readonly" }}
                                    id="email"
                                    value="{{ user.email }}">
            </p>


            {% if request.path != '/profile' and user.city != None or is_profile %}

                <p class="label"><input placeholder="Город проживания" class="after_name"
                                        type="text" {{ is_profile|yesno:",readonly" }}
                                        id="city"
                                        value="{% if  user.city != None %}{{ user.city.name }}{% endif %}">
                </p>

            {% endif %}


            {% if request.path != '/profile' and user.birthday != None or is_profile %}

                <p class="label"><input placeholder="День рождения" class="after_name"
                                        type="date" {{ is_profile|yesno:",readonly" }}
                                        value="{% if  user.birthday != None %}{{ user.birthday|date:"Y-m-d" }}{% endif %}"
                                        id="birthday">
                </p>
            {% endif %}
        </div>
    </div>

    <div class="whitespace"></div>
    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Контакты</h2>
        </div>

        <div class="col-md-9">
            <div class="social-wrapper">
                <p class="social-name">VK:</p>
                {% if socials.vk %}
                    <p class="social-url">
                        <a
                                href="https://vk.com/id{{ socials.vk.0.extra_data.uid }}">{{ socials.vk.0.extra_data.screen_name }}</a>
                        <a class="remove-social" onclick="del_social('vk')">
                            <svg width="8" version="1.1" xmlns="http://www.w3.org/2000/svg" height="8"
                                 viewBox="0 0 64 64"
                                 enable-background="new 0 0 64 64">
                                <g>
                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                                </g>
                            </svg>
                        </a>
                    </p>

                {% else %}
                    <p class="social-add">
                        <a href="{% provider_login_url "vk" process="connect" next="/new/profile" %}">Добавить</a>
                    </p>
                {% endif %}
            </div>

            <div class="social-wrapper">
                <p class="social-name">GitHub:</p>
                {% if socials.github %}
                    <p class="social-url">
                        <a href="https://github.com/{{ socials.github.0.extra_data.login }}">{{ socials.github.0.extra_data.login }}</a>
                        <a class="remove-social" onclick="del_social('github')">
                            <svg width="8" version="1.1" xmlns="http://www.w3.org/2000/svg" height="8"
                                 viewBox="0 0 64 64"
                                 enable-background="new 0 0 64 64">
                                <g>
                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                {% else %}
                    <p class="social-add">
                        <a href="{% provider_login_url "github" process="connect" next="/new/profile" %}">Добавить</a>
                    </p>
                {% endif %}
            </div>

            <div class="social-wrapper">
                <p class="social-name">GitLab:</p>
                {% if socials.gitlab %}
                    <p class="social-url">
                        <a href="https://gitlab.com/{{ socials.gitlab.0.extra_data.username }}">{{ socials.gitlab.0.extra_data.username }}</a>
                        <a class="remove-social" onclick="del_social('gitlab')">
                            <svg width="8" version="1.1" xmlns="http://www.w3.org/2000/svg" height="8"
                                 viewBox="0 0 64 64"
                                 enable-background="new 0 0 64 64">
                                <g>
                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                                </g>
                            </svg>
                        </a>
                    </p>
                {% else %}
                    <p class="social-add"><a
                            href="{% provider_login_url "gitlab" process="connect" next="/new/profile" %}">Добавить</a>
                    </p>
                {% endif %}
            </div>
            {##}
            {#            <div class="social-wrapper">#}
            {#                <p class="social-name">Facebook:</p>#}
            {#                {% if socials.facebook %}#}
            {#                    <p class="social-url">#}
            {#                        <a href="">{{ socials.facebook.0.extra_data }}</a>#}
            {#                        <a class="remove-social" onclick="del_social('facebook')">#}
            {#                            <svg width="8" version="1.1" xmlns="http://www.w3.org/2000/svg" height="8"#}
            {#                                 viewBox="0 0 64 64"#}
            {#                                 enable-background="new 0 0 64 64">#}
            {#                                <g>#}
            {#                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>#}
            {#                                </g>#}
            {#                            </svg>#}
            {#                        </a></p>#}
            {#                {% else %}#}
            {#                    <p class="social-add"><a>Добавить</a>#}
            {#                    </p>#}
            {#                {% endif %}#}
            {#            </div>#}

            <div class="social-wrapper">
                <p class="social-name">Телефон:</p>
                <input type="text" {{ is_profile|yesno:",readonly" }} id="phone" placeholder="Добавить"
                       value="{% if  user.phone_number != None %}{{ user.phone_number }}{% endif %}">
            </div>

            <div class="social-wrapper">
                <p class="social-name">Телефон родителей:</p>
                <input type="text" {{ is_profile|yesno:",readonly" }} id="parent-phone" placeholder="Добавить"
                       value="{% if  user.parent_phone_number != None %}{{ user.parent_phone_number }}{% endif %}">
            </div>
        </div>
    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Навыки</h2>
        </div>

        <div class="col-md-9">
            <div class="skills-wrapper">

                {% for skill in user.skills.all %}
                    <div class="col-3">
                        <input skill_id="{{ skill.id }}" placeholder="Навык" id="skill_{{ skill.id }}"
                               class="after_name skill"
                               value="{{ skill.name }}" type="text" {{ is_profile|yesno:",readonly" }}>
                    </div>
                {% endfor %}



                {% if is_profile %}
                    <div id="add_wrapper" class="col-3">
                        <p onclick="add_input_field()" class="add">Добавить</p>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>


    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Образование</h2>
        </div>

        <div class="col-md-9">

            {% for education in user.educations.all %}
                {% if education.education_type %}
                    <div class="education_block {% if not forloop.first %}not-first{% endif %}">
                        <a class="remove-educational" onclick="remove_education({{ education.id }})">
                            <svg width="15" version="1.1" xmlns="http://www.w3.org/2000/svg" height="15"
                                 viewBox="0 0 64 64"
                                 enable-background="new 0 0 64 64">
                                <g>
                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                                </g>
                            </svg>
                        </a>

                        <h3>{{ education.name }}</h3>
                        <p class="description">{{ education.city }}, {{ education.out_year }}
                            {% if education.specialization %}
                                <br>{{ education.specialization }}
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <div class="education_block {% if not forloop.first %}not-first{% endif %}">
                        <a class="remove-educational" onclick="remove_education({{ education.id }})">
                            <svg width="15" version="1.1" xmlns="http://www.w3.org/2000/svg" height="15"
                                 viewBox="0 0 64 64"
                                 enable-background="new 0 0 64 64">
                                <g>
                                    <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                                </g>
                            </svg>
                        </a>

                        <h3>{{ education.name }}</h3>
                        <p class="description">{{ education.city }}, {{ education.out_year }}<br>{{ education.faculty }}, {{ education.role|get_whole_unoversity_role }}
                        </p>
                    </div>

                {% endif %}

            {% endfor %}

            <div id="add_education_button_add" class="col-3 {% if user.educations.all.0 %}not-first{% endif %}">
                <p onclick="add_education()" class="add">Добавить</p>
            </div>

            <div class="add_education {% if user.educations.all.0 %}not-first{% endif %}">
                <p><input class="add_education_field" id="add_education_field_city" placeholder="Город"></p>

                <select id="get_education_type"
                        onchange="show_education_fields(this.options[this.selectedIndex].value)">
                    <option selected="selected" value="1">Cреднее и дополнительное
                        образование
                    </option>
                    <option value="0">Высшее
                        образование
                    </option>
                </select>

                <div id="srednee_obrazovanie">
                    <input class="add_education_field" id="add_education_school_name" placeholder="Школа">
                    <input class="add_education_field" id="add_education_school_specialization"
                           placeholder="Специализация">
                    <p class="add_education_field_out_date">Год выпуска: <input id="education_field_school_out_year"
                                                                                class="add_education_field"
                                                                                type="number" min="1942" max="2070"
                                                                                value="2017"></p>
                </div>
                <div id="vishee_obrazovanie">
                    <input class="add_education_field" id="add_education_vuz_name" placeholder="Вуз">
                    <input class="add_education_field" id="add_education_fac_name" placeholder="Факультет">

                    <select id="add_education_vuz_type_pribivanie">
                        <option value="0" selected="selected">Абитуриент</option>

                        <option value="1">Студент (специалитет)</option>
                        <option value="2">Студент (бакалавр)</option>
                        <option value="3">Студент (магистр)</option>

                        <option value="4">Выпускник (специалитет)</option>
                        <option value="5">Выпускник (бакалавр)</option>
                        <option value="6">Выпускник (магистр)</option>

                        <option value="7">Аспирант</option>
                        <option value="8">Кандидат наук</option>
                        <option value="9">Доктор наук</option>
                        <option value="10">Интерн</option>
                        <option value="11">Асистент-стажёр</option>
                        <option value="12">Докторант</option>
                        <option value="13">Адъютант</option>

                    </select>

                    <p class="add_education_field_out_date">Год выпуска: <input id="add_education_vuz_year_out"
                                                                                type="number" min="1942" max="2070"
                                                                                value="2017" placeholder="Дата выпуска">
                    </p>
                </div>

                <p onclick="save_education()" id="add_education_button">Добавить</p>
            </div>
        </div>


    </div>

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Достижения</h2>
        </div>


        <div class="col-md-9">
            {% for achievement in user.achievements.all %}
                <div class="achievement {% if not forloop.first %}not-first{% endif %}">
                    <a class="remove-achievement" onclick="remove_achievement({{ achievement.id }})">
                        <svg width="15" version="1.1" xmlns="http://www.w3.org/2000/svg" height="15"
                             viewBox="0 0 64 64"
                             enable-background="new 0 0 64 64">
                            <g>
                                <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                            </g>
                        </svg>
                    </a>

                    <h3><a href="{{ achievement.link }}">{{ achievement.title }}</a></h3>
                    <p class="date">{{ achievement.year }}</p>
                    <p class="description">{{ achievement.description }}</p>
                </div>
            {% endfor %}

            <div id="add_achievement" class="{% if user.achievements.all.0 %}not-first{% endif %}">
                <h3><input id="add_achievement_title" placeholder="Загаловок"></h3>
                <p class="date"><input id="add_achievement_date" type="number" min="1942" max="2070"
                                       value="2017"></p>
                <input id="add_achievement_url" placeholder="Ссылка">
                <textarea id="add_achievement_description" placeholder="Описание"></textarea>

                <p onclick="add_achievement_final_step()" id="add_achievement_final_button">Добавить</p>
            </div>

            <div class="col-3 {% if user.achievements.all.0 %}not-first{% endif %}" id="add_achievement_button">
                <p class="add" onclick="add_achievement()">Добавить</p>
            </div>
        </div>
    </div>

    {#    <div class="block-wrapper">#}
    {#        <div class="col-md-3">#}
    {#            <h2>Проекты</h2>#}
    {#        </div>#}
    {##}
    {##}
    {#        <div class="col-md-9">#}
    {#            <div class="col-3">#}
    {#                <p class="add">Добавить</p>#}
    {#            </div>#}
    {##}
    {#            {% for project in projects %}#}
    {#                <form id="project_{{ project.id }}" method="post" action="/project/update">#}
    {##}
    {#                    <a onclick="del_project({{ project.id }})" class="field close">#}
    {#                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>#}
    {#                    </a>#}
    {##}
    {##}
    {#                    <h3 class="value"><a href="{{ project.url }}">{{ project.name }}</a></h3>#}
    {##}
    {##}
    {#                    <p class="date value">{{ project.date_started.year }}</p>#}
    {##}
    {##}
    {#                    <br><br>#}
    {#                    <p class="team">#}
    {#                        Команда:#}
    {##}
    {#                        {% for user in project.team %}#}
    {#                            <a href="/profile/{{ user.id }}">{{ user.first_name }}#}
    {#                                {{ user.last_name }}{% if loop.last %}, {% endif %}</a>#}
    {#                        {% endfor %}#}
    {#                    </p>#}
    {##}
    {##}
    {#                    <div>#}
    {#                        <input name="id" type="hidden" value="{{ project.id }}">#}
    {#                        <input name="delete" type="hidden">#}
    {#                        <input placeholder="Название" class="project_name field" name="title" type="text"#}
    {#                               value="{{ project.name }}">#}
    {#                        <input placeholder="Ссылка" class="project_url field" name="title" type="text"#}
    {#                               value="{{ project.url }}">#}
    {##}
    {#                    </div>#}
    {##}
    {##}
    {#                    <textarea {{ is_profile|yesno:",readonly" }} placeholder="Описание"#}
    {#                                                                 name="description"#}
    {#                                                                 onclick="edit_project({{ project.id }})"#}
    {#                                                                 class="description">{{ project.description }}</textarea>#}
    {#                </form>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {##}
    {##}
    {#    </div>#}

    <div class="whitespace"></div>

    <div class="block-wrapper">
        <div class="col-md-3">
            <h2>Счёт</h2>
        </div>


        <div class="col-md-9">
            <div class="col-3">
                <p>{{ user.gotocoins }}ĜŦ</p>
            </div>
        </div>
    </div>
</div>

{% if is_profile %}
    <!-- Работа с формами -->
    <script src={% static "/js/profile/forms.js" %}></script>

    <!-- 4 утра -->
    <script src={% static "/js/profile/avatar.js" %}></script>

    <!-- Автодополнение скиллов, препов и кураторов -->
    <script src={% static "/js/profile/autocomplite.js" %}></script>
{% endif %}

<a id='help_me' href="https://t.me/tvorogme">Сообщить о проблеме</a>
<style>
    #help_me {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
</style>

</body>
</html>