<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method=post>
    {{ user_form.csrf_token }}

    {% for field in user_form %}
        <tr>
            {% if field.type == "BooleanField" %}
                {{ field }} {{ field.label }}
            {% else %}
                {{ field.label }}
                {{ field }}
            {% endif %}
            {% if not loop.last %}
                <br/>
            {% endif %}
        </tr>
    {% endfor %}


    <p><input type=submit></p>
</form>

<span style="color: red;">
    {% for field, errors in user_form.errors.items() %}
        <div class="alert alert-error">
            {{ user_form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
</span>


</body>
</html>