{% block menu %}
    <!--Стили меню-->
    <link rel="stylesheet" type="text/css" href="/css/menu/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu/demo.css">
    <link rel="stylesheet" type="text/css" href="/css/menu/icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu/menu.css"/>

    <!-- меню -->
    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            {% for item in [ ['/', 'Главная'],
                             ['/camp', 'Лагерь'],
                             ['/hackathon', 'Хакатон'],
                             ['/lectoriy','Лекторий'],
                             ['/coworking','Коворкинг'],
                             ['/about_us','О нас']] %}

                {%- if request.path != item[0] %}
                    <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endif %}


            {% endfor %}

            {%- if request.path != '/profile' %}

                {% if not current_user.is_authenticated %}
                    <li><a href="/system/login">Войти</a></li>
                {% else %}
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/system/logout">Выйти</a></li>
                {% endif %}

            {% else %}

                <li><a href="/system/logout">Выйти</a></li>

            {% endif %}

        </ul>
    </nav>

    <!--Меню-->
    <script src="/js/menu/classie.js"></script>
    <script src="/js/menu/borderMenu.js"></script>
{% endblock %}