{# Для того, чтобы отобразить логин форму используйте: #}
{# toggle_login_placeholder() #}
{# Для правильной работы на странице должен быть подгружен fontawesome и бутстрап #}
{% load socialaccount %}

{% block login %}
    {% load static %}
    <!--Стили логинштуки-->
    <link rel="stylesheet" type="text/css" href="{% static "/css/helpers/login.css" %}"/>

    <table id="login_placeholder_table" onclick="toggle_login_placeholder()">
        <tr>
            <td valign="middle">
                <div id="login_placeholder">
{#                    <a onclick="toggle_login_placeholder();" id="close_login_placeholder">#}
{#                        <svg width="30" version="1.1" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 64 64"#}
{#                             enable-background="new 0 0 64 64">#}
{#                            <g>#}
{#                                <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>#}
{#                            </g>#}
{#                        </svg>#}
{#                    </a>#}

                    <div id="login_placeholder_first_page">
                        <div id="login_placeholder_socials" class="row">
                            <div class="col-xs-3">
                                <a onclick="display_login_placeholder(3);toggle_login_placeholder();"><i class="fa fa-envelope-o fa-3x"
                                                                              aria-hidden="true"></i></a>
                            </div>

                            <div class="col-xs-3">
                                <a href="{% provider_login_url "vk" next="/new/profile" %}"><i class="fa fa-vk fa-3x"
                                                                                           aria-hidden="true"></i></a>
                            </div>

                            <div class="col-xs-3">
                                <a href="{% provider_login_url "github" next="/new/profile" %}"><i
                                        class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                            </div>

                            <div class="col-xs-3">
                                <a href="{% provider_login_url "gitlab" next="/new/profile" %}"><i
                                        class="fa fa-gitlab fa-3x" aria-hidden="true"></i></a>
                            </div>

                            {#                            <div class="col-md-2">#}
                            {#                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>#}
                            {#                            </div>#}
                        </div>
                    </div>

                    <div id="login_placeholder_second_page">

                        <p id="login_placeholder_register_error"></p>
                        <form id="login_placeholder_register">
                            <input id="login_placeholder_register_names" type="text" placeholder="Имя Фамилия">
                            <input id="login_placeholder_register_email" type="email" placeholder="Email">
                            <input id="login_placeholder_register_password" type="password" placeholder="Пароль">
                            <p id="login_placeholder_register_register_button">Зарегистрироваться</p>
                        </form>

                        <p onclick="display_login_placeholder(1);" id="login_placeholder_already_register">Я уже
                            зарегестрирован</p>
                    </div>

                    <div id="login_placeholder_third_page">
                        <p id="login_placeholder_error"></p>

                        <div class="row">
                            <form action="/login" method="post" id="login_placeholder_register">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <input id="login_placeholder_crf" name="csrfmiddlewaretoken" type="hidden"
                                           value="{{ csrf_token }}">
                                    <input id="login_placeholder_username" name="username" type="email"
                                           placeholder="Email">
                                    <input id="login_placeholder_password" name="password" type="password"
                                           placeholder="Пароль">
                                </div>

                                <div class="col-md-3">

                                    <table id="tick_submit_wrapper">
                                        <tr>
                                            <td valign="middle">
                                                <svg id="login_tick" width="50" height="50" data-name="Layer 1"
                                                     viewBox="0 0 48 48"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <style>.cls-1 {
                                                            fill: none;
                                                            stroke: white;
                                                            stroke-linecap: round;
                                                            stroke-linejoin: round;
                                                            stroke-width: 2px;
                                                        }</style>
                                                    </defs>
                                                    <title/>
                                                    <polyline class="cls-1" points="1 25 15 39 47 7"/>
                                                </svg>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                            </form>

                        </div>

                        <p id="login_placeholder_forgot_back"><a>Забыли пароль?</a> / <a
                                onclick="display_login_placeholder(1);toggle_login_placeholder();">Назад</a></p>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <!--Логин скрипты-->
    <script src="{% static "/js/profile/login.js" %}"></script>
{% endblock %}