{# Для того, чтобы отобразить логин форму используйте: #}
{# toggle_login_placeholder() #}
{# Для правильной работы на странице должен быть подгружен fontawesome и бутстрап #}

{% block login %}
    {% load static %}
    <!--Стили логинштуки-->
    <link rel="stylesheet" type="text/css" href={% static "/css/profile/login.css" %}/>

    <table id="login_placeholder_table">
        <tr>
            <td valign="middle">
                <div id="login_placeholder">
                    <a onclick="toggle_login_placeholder();" id="close_login_placeholder">
                        <svg width="30" version="1.1" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 64 64"
                             enable-background="new 0 0 64 64">
                            <g>
                                <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                            </g>
                        </svg>
                    </a>

                    <div id="login_placeholder_first_page">
                        <h2>Вход / Регистрация</h2>

                        <div id="login_placeholder_socials" class="row">
                            <div class="col-md-3">
                                <i class="fa fa-vk fa-3x" aria-hidden="true"></i>
                            </div>

                            <div class="col-md-3">
                                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                            </div>

                            <div class="col-md-3">
                                <i class="fa fa-gitlab fa-3x" aria-hidden="true"></i>
                            </div>

                            <div class="col-md-3">
                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>

                        <p onclick="display_login_placeholder(2);" id="login_placeholder_email">Регистрация через Email</p>
                        <p id="login_placeholder_email_login">Я зарегестрировался через Email</p>
                    </div>

                    <div id="login_placeholder_second_page">
                        <h2>Регистрация</h2>

                        <form id="login_placeholder_register">
                            <input type="text" placeholder="Имя Фамилия">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Пароль">
                            <input type="submit" value="Зарегестрироваться">
                        </form>

                        <p onclick="display_login_placeholder(1);" id="login_placeholder_already_register">Я уже зарегестрирован</p>
                    </div>

                </div>
            </td>
        </tr>
    </table>

    <!--Логин скрипты-->
    <script src={% static "/js/profile/login.js" %}></script>
{% endblock %}