{% block menu %}
    {% load static %}
    <!--Стили меню-->
    <link rel="stylesheet" type="text/css" href="{% static "/css/menu/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/css/menu/demo.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/menu/icons.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/css/menu/menu.css" %}"/>

    <!-- меню -->
    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            {% for item in menu_list %}
                {% if request.path != item.0 %}
                    <li><a href="{{ item.0 }}">{{ item.1 }}</a></li>
                {% endif %}
            {% endfor %}

            {% if request.path != '/profile' %}
                {% if request.user.is_authenticated %}
                    <li><a href="../profile">Профиль</a></li>
                    <li><a href="../logout">Выйти</a></li>
                {% else %}
                    <li><a onclick="toggle_login_placeholder()">Войти</a></li>
                {% endif %}

            {% else %}

                <li><a href="../logout">Выйти</a></li>

            {% endif %}

        </ul>
    </nav>

    {% if not request.user.is_authenticated %}
        {% include 'helpers/login.html' %}
    {% endif %}

    <!--Меню-->
    <script src="{% static "/js/menu/classie.js" %}"></script>
    <script src="{% static "/js/menu/borderMenu.js" %}"></script>
{% endblock %}