<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method=post>
    {{ form.csrf_token }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.surname }}
    {{ form.about }}
    {{ form.organization }}
    {{ form.birthday }}
    {{ form.phone_number }}
    {{ form.parent_phone_number }}
    {{ form.health_issues }}
    {{ form.programming_languages }}
    {{ form.experience }}
    {{ form.education_name }}
    {{ form.education_years }}
    {{ form.graduation_year }}
    {{ form.subscribed_to_email }}
    <p><input type=submit value=Register></p>
</form>


</body>
</html>