<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method=post>
    {{ user_form.csrf_token }}


    {% for field in user_form %}
        <tr>
            {% if field.type == "BooleanField" %}
                <td></td>
                <td>{{ field }} {{ field.label }}</td>
            {% else %}
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
            {% endif %}
            {% if not loop.last %}
                <br/>
            {% endif %}
        </tr>
    {% endfor %}
    <p><input type=submit value=Register></p>
</form>

<span style="color: red;">
 {% for field in user_form.errors %}
     {% for error in user_form.errors[field] %}
         <div class="alert alert-error">
        <strong>Error!</strong> {{ error }}
    </div>
     {% endfor %}
 {% endfor %}

</span>


</body>
</html>