<h1>{{ event.name }}</h1>
    <img src="{{ event.image }}" style="width:304px;height:228px;"/>
<h3>
<p>{{ event.prescription }}</p>
    </h3>
<h5>
<p>Дата проведения: {{ event.date }}</p> <p>{{ event.time }}</p>
    <p>Допустимый возраст: {{ event.min_age }} - {{ event.max_age }}</p>
<p>Описание: {{ event.full_description }}</p>
    <p>Регион: {{ event.region }}</p>
    <p>Адрес: {{ event.address }}</p>
    <p>Цена: {{ event.cost }}</p>
<p>{{ event.tag }}</p>
<p>Сайт: {{ event.url }}</p>
    <p>Автор: {{ event.author }}</p>
    <p>Организация: {{ event.organization }}</p>
    <p>Эксперты: {{ event.experts }}</p>
</h5>
