<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>

    <!-- Favicon -->
    <link href={% static "/img/favicon.ico" %} rel="shortcut icon" type="image/vnd.microsoft.icon"/>

    <!-- Большая не нужная библиотека -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--Reset all browsers-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <!--Бутстрап-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Библиотеки рендеринга и физики -->
    <script src={% static "/js/about/box/libraries/p5.js" %}></script>
    <script src={% static "/js/about/box/libraries/matter.js" %}></script>

    <!-- Физика кастомная -->
    <script src={% static "/js/about/box/sketch.js" %}></script>
    <script src={% static "/js/about/box/particle.js" %}></script>
    <script src={% static "/js/about/box/boundary.js" %}></script>

    <!-- Тайпинг библиотека -->
    <script src={% static "/js/about/typed.js" %}></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>
{% include 'helpers/menu.html' %}
<h1 id='about_us_header'>О нас</h1>
<p id="typed">
    Образовательные программы GoTo помогают молодежи со всей России воплощать в жизнь
    самые смелые идеи, получать знания у практикующих специалистов и предпринимателей, находить единомышленников и
    необходимые ресурсы, обрести мотивацию к дальнейшему саморазвитию. Участник каждой школы, лагеря, интенсива или
    хакатона.</p>

<div id="myworld"></div>

<div id="grad_wrapper">
    <div id="photo_with_gradient"></div>
    <div id="back-grad"></div>
</div>

<div class="row preps">
    <div class="col-md-12 big_placs">
        <div id="alena" class="col-md-3">
            <img class="right_img" src={% static "/img/preps/alena/001.jpg" %}>
        </div>

        <div class="col-md-3"><h1 class="no_top">Алёна Ильина</h1>
            <p>Предприниматель, основатель школы GoTo, соорганизатор TEDxSadovoeRing и серии научных школ по
                робототехнике и искусственному интеллекту RAIC для молодых специалистов и других образовательных
                проектов.
                Автор различных исследований и проектов в сфере образования, IT и робототехники. Ранее – куратор
                образовательных программ летних школ Яндекса и ABBYY, выпускник и преподаватель МГУ имени М.В.
                Ломоносова.
            </p></div>

        <div id="vanya" class="col-md-3">
            <img class="right_img" src={% static "/img/preps/vanya_bib/001.jpg" %}>
        </div>

        <div class="col-md-3">
            <h1 class="no_top">Бибилов Иван</h1>
            <p>Экс-куратор академических программ Яндекса, преподаватель связанных с программированием дисциплин в
                различных университетах. Занимался проектами, использующими Python и Django, руководил группой
                разработки справочных сервисов в Яндексе.
                Преподаватель школы программистов Яндекса, автор онлайн курсов, руководитель направления "Разработка
                приложений" школы ABBYY и Яндекса AYСamp.
            </p>
        </div>
    </div>

    <div class="col-md-12 big_placs">
        <div class="col-md-3">
            <h1 class="right_text no_top">Саша Панин</h1>
            <p class="right_text">Предприниматель, основатель школы GoTo, соорганизатор TEDxSadovoeRing и серии научных
                школ по
                робототехнике и искусственному интеллекту RAIC для молодых специалистов и других образовательных
                проектов.
                Автор различных исследований и проектов в сфере образования, IT и робототехники. Ранее – куратор
                образовательных программ летних школ Яндекса и ABBYY, выпускник и преподаватель МГУ имени М.В.
                Ломоносова.
            </p>
        </div>
        <div id="sasha" class="col-md-3">
            <img class="left_img" src={% static "/img/preps/Eg-Sasha/001.jpg" %}>
        </div>
        <div class="col-md-3">
            <h1 class="right_text no_top">Кутрухин Николай</h1>
            <p class="right_text">Старший разработчик в Volkswagen Group, cтарший преподаватель кафедры Математики и
                прикладной информатики
                МФТИ, координатор Международной Компьютерной Школы имени В.Волокитина и Е.Ширковой, организатор
                проектной деятельности в различных форматах.</p>
        </div>

        <div id="kolya" class="col-md-3">
            <img class="left_img" src={% static "/img/preps/kolya/001.jpg" %}>
        </div>
    </div>

    <div class="col-md-12 big_placs">
        <div id="pasha" class="col-md-3">
            <img class="right_img" src={% static "/img/preps/Pasha_Kulikov/001.jpg" %}>
        </div>

        <div class="col-md-3">
            <table class="in_preps">
                <tbody>
                <tr>
                    <td valign="middle"></td>
                </tr>
                </tbody>
            </table>
            <h1>Павел Куликов</h1>
            <p>Преподаватель направления прикладного программирования в GoTo, инженер-программист с 10-летним стажем,
                full stack разработчик, фрилансер.</p></div>


        <div id="roct" class="col-md-3">
            <img class="right_img" src={% static "/img/preps/Roct1/001.jpg" %}>
        </div>

        <div class="col-md-3"><h1>
            Ростислав Бородин</h1>
            <p>Преподаватель направления прикладного программирования в GoTo и Политехническом музее. Выпускник ФКН НИУ
                ВШЭ, профессиональный full-stack веб-разработчик. Специалист по разработке медицинских сервисов.</p>
        </div>
    </div>
</div>

<div id="comments">
    <div id="comment_wrapper">
        <table>
            <tr>
                <td valign="middle">
                    <a onclick="toggle_popup(-1)">
                        <svg width="20" version="1.1" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 64 64"
                             enable-background="new 0 0 64 64">
                            <g>
                                <path d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"></path>
                            </g>
                        </svg>
                    </a>
                    <h3 id="comment_author"></h3>
                    <h4 id="comment_work"></h4>
                    <p id="comment_content"></p>
                </td>
            </tr>
        </table>
    </div>

</div>

<link rel="stylesheet" type="text/css" href={% static "/css/about/index.css" %}>

<!-- Глаза препов -->
<script src={% static "/js/about/index.js" %}></script>

<!-- Отзывы -->
<script src={% static "/js/about/bubbles.js" %}></script>

<!-- Тайпинг скрипт -->
<script src={% static "/js/about/tuping.js" %}></script>
</body>
</html>