@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300;
}

* {
    font-family: 'Ubuntu', sans-serif !important;
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

h1 a:hover {
    color: white;
}

.green {
    background: #49B398;
}

#pic1 {
    background: url(/static/spirit/img/20170926-photo_2017-09-26_23-36-53.jpg);
    background-position: center;
    background-size: cover;
}

#pic2 {
    background: url(/static/spirit/img/photo_2017-09-26_23-23-02.jpg);
    background-position: center;
    background-size: cover;
}

.orange {
    background: #EF8B6A;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.button_wrapper {
    text-align: center;
    margin-top: 30px;
}

.button_wrapper button {
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin: 0 auto;
}

.first-slide {
    margin: auto;
    margin-bottom: 0px;
}

.header {
    margin: auto;
}

.main-block-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.block_menu {
    transition: 0.2s;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.98;
    animation: emersion ease-out;
    cursor: pointer;
    box-sizing: content-box;
}

.block_menu a {
    color: #fff;
    font-weight: 300;
}

#cources {
    background: #F5E966;
    z-index: 1;
    transition: 0.2s;
    color: white;
    animation-duration: 2.5s;
    text-shadow: 0px 0px 3px #A5A5A5;
}

#hakatons {
    background: #613D8D;
    z-index: 2;
    transition: 0.2s;
    color: #fff;
    animation-duration: 3s;
}

#schools {
    background: #FFF;
    z-index: 3;
    transition: 0.2s;
    animation-duration: 3.5s;
}

#schools a {
    color: #484848;
}

#co-working {
    background: #EF8B6A;
    z-index: 2;
    transition: 0.2s;
    animation-duration: 4s;
}

#studio {
    background: #49B398;
    z-index: 1;
    transition: 0.2s;
    animation-duration: 4.5s;
}

.animated-line {
    align-items: flex-start;
    padding: 0px;
    margin: auto;
    margin-top: 0px;
}

.animated-line h3 {
    margin-top: 100px;
    margin-top: 25px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
    color: #484848;
}

#mask {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.slide-text {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.slide-text h1 {
    color: #484848;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.numbers {
    min-height: 10vh;
    max-width: 100%;
    background: #FFF;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.numbers header {
    font-size: 50px;
}

.numbers h1 {
    margin: 0px;
    font-size: 1.7em;
}

.number-block {
    color: #F5E966;
    text-align: center;
    padding: 20px;
}

.number-block + .number-block {
    color: #613D8D;
}

.number-block + .number-block + .number-block {
    color: #EF8B6A;
}

.number-block + .number-block + .number-block + .number-block {
    color: #49B398;
}

.number-block p {
    font-weight: 700;
    margin: 0px;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 30px;
}

.partners > div {
    fill: #C4C4C4;
    margin: 20px;
}

.partners > div:hover {
    fill: #484848;
}

.footer {
    background: #FFF;
    display: flex;
    align-items: center;
    margin: 0px;
}

.chess {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 50px;
}

.chess article {
    color: #FFF;
}

.pic {
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    flex-direction: row;
}

.description > div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    flex-direction: column;
}

.directions article {
    color: #484848;
}

#background-pic {
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.subscribe {
    min-height: 30vh;
    min-width: 50%;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mail {
    border: 0px;
    border-bottom: 2px solid #000;
    background: rgba(0, 0, 0, 0);
}

input {
    outline: none;
}

.arrow {
    outline: none;
    border: 0px;
    background: #FFF;
    border-bottom: 2px solid #000;
    margin: 0px;
    margin-left: -5px;
}

.arrow:hover {
    fill: #49B398;
}

.login {
    color: #484848;
    font-weight: 300;
    font-size: 35px;
}

header {
    margin-bottom: 2em;
}

p a {
    color: #EF8B6A !important;
}

@media screen and (max-width: 900px) {
    .main {
        padding: 20px;
    }
}

/*DesKtop*/

@media screen and (min-width: 1160px) {
    .button_wrapper button {
        margin-right: 10px;
        margin-left: 10px;
    }

    .chess div {
        width: 50%;
        height: 420px;
        padding: auto;
    }

    .main-block-container {
        min-height: 325px;
    }

    .block_menu a {
        font-size: 35px;
    }

    #cources {
        width: 230px;
        height: 155px;
        margin-right: -12px;
        padding-top: 75px;
    }

    #cources:hover {
        margin-top: -40px;
        margin-right: 15px;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #cources:active {
        margin-top: 10px;
    }

    #hakatons {
        width: 240px;
        height: 160px;
        margin-right: -12px;
        padding-top: 80px;
    }

    #hakatons:hover {
        margin-top: -40px;
        margin-right: 15px;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #hakatons:active {
        margin-top: 5px;
    }

    #schools {
        width: 250px;
        height: 165px;
        padding-top: 85px;
    }

    #schools:hover {
        margin-top: -30px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #schools:active {
        margin-top: 0px;
    }

    #co-working {
        width: 240px;
        height: 160px;
        margin-left: -12px;
        padding-top: 80px;
    }

    #co-working:hover {
        margin-top: -40px;
        margin-left: 15px;
        transform: rotate(5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #co-working:active {
        margin-top: 5px;
    }

    #studio {
        width: 230px;
        height: 155px;
        margin-left: -12px;
        padding-top: 75px;
    }

    #studio:hover {
        margin-top: -40px;
        margin-left: 15px;
        transform: rotate(5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #studio:active {
        margin-top: 10px;
    }

    @keyframes emersion {
        0% {
            margin-top: 70px;
            opacity: 0;
        }
        75% {
            margin-top: 70px;
            opacity: 0;
        }
        100% {
            margin-top: 0px;
            opacity: 1.0;
        }
    }
    .footer {
        height: 80px;
        flex-direction: row;
        justify-content: center;
    }

    .footer-block {
        flex-direction: row;
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        font-weight: 300;
        color: #484848;
        align-items: center;
        flex: 1;
    }

    .footer-block div {
        margin: 20px;
    }

    .footer-block h4 {
        color: #484848;
        font-weight: 300;
        font-size: 18px;
    }

    .footer-block a {
        color: #484848;
        font-weight: 300;
    }

    .footer-block a:hover {
        color: #49B398;
    }

    #about-us {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-us h4 {
        margin-right: 5%;
    }

    #number a {
        pointer-events: none;
        cursor: default;
    }

    #number a:hover {
        color: #484848;
    }

    #number {
        margin-left: 20px;
        margin-right: 20px;
    }

    #socials {
        margin: 0px;
    }

    #socials svg {
        width: 25px;
        height: 25px;
        padding: 3px;
    }

    #socials svg:hover {
        fill: #49B398;
    }

    .slide {
        min-height: 50vh;
        max-width: 100%;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    .slide + .slide {
        margin-top: 100vh;
    }

    .slide-text {
        margin-top: 50px;
        max-width: 60%;
    }

    .partners {
        width: 80%;
        flex-flow: row;
        margin-bottom: 50px;
    }

    .partners > div {
        width: 9%;
        height: 9%;
        fill: #C4C4C4;
        margin: 20px;
    }

    .subscribe > div {
        width: 100%;
        margin: auto;
    }

    #mail {
        width: 50%;
        margin-left: 25%;
        font-size: 25px;
    }

    .description > div {
        margin: 40px;
    }

    .chess article {
        line-height: 1.5;
        align-items: center;
        font-size: 18px;
    }

    .chess-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chess-block div {
        height: 450px;
        min-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        width: 50px;
        height: 49px;
    }
}

/*Tablets*/

@media screen and (min-width: 767px) and (max-width: 1160px) {
    .main-block-container {
        min-height: 230px;
    }

    .block_menu a {
        font-size: 20px;
    }

    #cources {
        width: 130px;
        height: 105px;
        margin-right: -12px;
        padding-top: 25px;
    }

    #cources:hover {
        margin-top: -40px;
        margin-right: 15px;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #cources:active {
        margin-top: 10px;
    }

    #hakatons {
        width: 140px;
        height: 110px;
        margin-right: -12px;
        padding-top: 30px;
    }

    #hakatons:hover {
        margin-top: -40px;
        margin-right: 15px;
        transform: rotate(-5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #hakatons:active {
        margin-top: 5px;
    }

    #schools {
        width: 150px;
        height: 115px;
        padding-top: 35px;
    }

    #schools:hover {
        margin-top: -30px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #schools:active {
        margin-top: 0px;
    }

    #co-working {
        width: 140px;
        height: 110px;
        margin-left: -12px;
        padding-top: 30px;
    }

    #co-working:hover {
        margin-top: -40px;
        margin-left: 15px;
        transform: rotate(5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #co-working:active {
        margin-top: 5px;
    }

    #studio {
        width: 130px;
        height: 105px;
        margin-left: -12px;
        padding-top: 25px;
    }

    #studio:hover {
        margin-top: -40px;
        margin-left: 15px;
        transform: rotate(5deg);
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    #studio:active {
        margin-top: 10px;
    }

    h3 {
        font-size: 20px;
    }

    @keyframes emersion {
        0% {
            margin-top: 70px;
            opacity: 0;
        }
        75% {
            margin-top: 70px;
            opacity: 0;
        }
        100% {
            margin-top: 0px;
            opacity: 1.0;
        }
    }
    #about-us {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about-us h4 {
        margin-right: 5%;
    }

    .footer {
        background: #FFF;
        margin: 0px;
        height: 80px;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-block {
        margin: 0px;
        height: 5vh;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-block div {
        margin: 20px;
    }

    .footer-block a {
        color: #484848;
        font-weight: 300;
    }

    .footer-block h4 {
        color: #484848;
        font-weight: 300;
        font-size: 15px;
    }

    .footer-block a:hover {
        color: #49B398;
    }

    #number {
        margin-left: 20px;
        margin-right: 20px;
    }

    #socials {
        margin: auto;
    }

    #socials svg {
        width: 25px;
        height: 25px;
        padding: 5px;
    }

    #socials svg:hover {
        fill: #49B398;
    }

    .slide {
        min-height: 50vh;
        width: 100%;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    .slide + .slide {
        margin-top: 100vh;
    }

    #background-pic {
        height: 200vh;
    }

    .partners {
        width: 80%;
        flex-direction: row;
    }

    .partners > div {
        width: 9%;
        height: 9%;
        fill: #C4C4C4;
        margin: 20px;
    }

    .slide-text {
        margin-top: 50px;
        max-width: 80%;
    }

    .directions {
        width: 300px;
    }

    .subscribe {
        width: 80%;
        margin: auto;
    }

    .subscribe > div {
        width: 100%;
        margin: 20px;
    }

    .description {
        flex-direction: row;
    }

    .subscribe > div {
        width: 100%;
        margin: auto;
    }

    #mail {
        width: 40%;
        margin-left: 30%;
        font-size: 25px;
    }

    .description > div {
        margin: 40px;
    }

    .directions {
        margin-bottom: 50px;
    }

    .chess div {
        width: 50%;
        height: 500px;
        padding: auto;
    }

    .chess article {
        line-height: 1.5;
        align-items: center;
        font-size: 15px;
    }

    .chess-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chess-block div {
        height: 450px;
        min-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        width: 50px;
        height: 49px;
    }
}

/*Smartphones*/

@media screen and (max-width: 767px) {
    .button_wrapper button {
        margin-top: 40px;
    }

    .main-block-container {
        flex-direction: column;
        order: 1;
    }

    .block_menu {
        height: 185px;
        padding-top: 95px;
        width: 280px;
        margin: 10px;
    }

    .slide-text {
        margin-top: 50px;
        max-width: 80%;
    }

    .arrow {
        width: 30px;
        height: 29px;
    }

    #cources {
        z-index: 0;
    }

    #hakatons {
        z-index: 0;
    }

    #schools {
        z-index: 0;
    }

    #co-working {
        z-index: 0;
    }

    #studio {
        z-index: 0;
    }

    .block_menu a {
        font-size: 35px;
    }

    .block_menu:active {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }

    .animated-line {
        width: 90%;
        align-items: baseline;
        order: 0;
        margin: auto;
    }

    .animated-line h3 {
        margin: 0;
        padding: 10px;
    }

    .footer {
        background: #FFF;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0px;
    }

    .footer-block {
        min-height: 20vh;
        background: #FFF;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        color: #484848;
    }

    .footer-block a {
        color: #484848;
        font-weight: 300;
    }

    .footer-block h4 {
        color: #484848;
        font-weight: 300;
        font-size: 25px;
    }

    #about-us {
        height: 190px;
        padding-top: 90px;
        width: 280px;
        margin: 10px;
        background: #FFF;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        box-sizing: content-box;
    }

    #about-us a {
        color: #484848;
        font-weight: 300;
        font-size: 35px;
    }

    #about-us:active {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }

    #socials {
        padding-bottom: 30px;
    }

    #socials svg {
        width: 25px;
        height: 25px;
        padding: 3px;
    }

    .slide {
        min-height: 100vh;
        max-width: 100%;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    .slide + .slide {
        margin-top: 100vh;
    }

    .partners {
        flex-flow: row wrap;
    }

    .partners > div {
        width: 50px;
        height: 50px;
        fill: #C4C4C4;
        margin: 20px;
    }

    .slide-text {
        max-width: 80%;
    }

    .directions {
        width: 80%;
    }

    .description {
        flex-direction: column;
    }

    .directions {
        margin: auto;
    }

    .subscribe {
        width: 90%;
    }

    .subscribe > div {
        width: 100%;
    }

    #mail {
        width: 75%;
        margin-left: 5%;
        font-size: 20px;
    }

    .chess article {
        line-height: 2;
        align-items: center;
    }

    .chess div {
        width: 100%;
        min-height: 200px;
        padding: 20px;
        padding-bottom: 50px;
    }

    .chess-block div {
        padding: 0px;
    }
}